{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  {% load static %}

<section class="relative bg-cover bg-center bg-no-repeat py-20 px-6 text-center" style="background-image: url('{% static 'images/moes.jpg' %}');">
    <div class="absolute inset-0 bg-white/35"></div>

    <div class="relative z-10 max-w-5xl mx-auto flex flex-col items-center">
        
        <h1 class="text-6xl font-extrabold text-black-950 tracking-tighter mb-4 leading-tight">
            Conectando com quem precisa
        </h1>
        
        <p class="text-2xl text-black-800 max-w-2xl mb-12">
            Sua doação pode fazer a diferença na vida de alguém!
        </p>

        <div class="flex gap-10 mt-[-20px] pt-4"> 
            
            <a href="{% url 'selecao_tipo_doacao' %}" class="bg-[#FFB366] text-white px-10 py-4 rounded-xl font-extrabold text-xl shadow-md hover:brightness-95 transition">
                Quero doar
            </a>

            <a href="{% url 'selecao_tipo_doacao' %}" class="bg-[#79B4FF] text-white px-10 py-4 rounded-xl font-extrabold text-xl shadow-md hover:brightness-95 transition">
                Preciso de doação
            </a>
            
        </div>
    </div>
</section>

    <div class="container mx-auto flex gap-10 mt-12 px-6">
        
        <aside class="w-1/4 bg-white p-8 rounded-xl shadow-sm border border-gray-100 h-fit">
            <h2 class="text-2xl font-bold text-center border-b pb-4 mb-8">Filtros</h2>
            
            <div class="space-y-8">
                <div>
                    <label class="block mb-2 font-bold text-gray-600">Tipo de Item</label>
                    <select class="w-full border-2 border-gray-200 p-3 rounded-md appearance-none bg-white">
                        <option>Vestuário</option>
                        <option>Alimentos</option>
                    </select>
                </div>
                <div>
                    <label class="block mb-2 font-bold text-gray-600">Localização</label>
                    <select class="w-full border-2 border-gray-200 p-3 rounded-md appearance-none bg-white">
                        <option>Centro, Ribeirão Preto</option>
                        <option>Vila Tibério</option>
                    </select>
                </div>
            </div>
        </aside>

        <section class="w-3/4 grid grid-cols-2 gap-10">

            {% for doacao in doacoes %}
            <article class="bg-white rounded-2xl shadow-md overflow-hidden border border-gray-100 flex flex-col items-center">
                
                {% if doacao.tipo == "Alimento" %}
                    <img src="{% static 'images/cestabasica.jpg' %}" class="w-full h-48 object-cover">
                {% elif doacao.tipo == "Roupa" %}
                    <img src="{% static 'images/mantadefrio.jpg' %}" class="w-full h-48 object-cover">
                {% endif %}

                <div class="p-8 w-full text-center">
                    <h3 class="text-2xl font-bold mb-4">{{ doacao.nome }}</h3>

                    <div class="text-gray-600 space-y-1 mb-6">
                        <p>Quantidade: {{ doacao.quantidade }}</p>
                        <p>Localização: {{ doacao.localizacao }}</p>
                    </div>

                    {% if doacao.tipo == "Alimento" %}
                        <span class="bg-[#79B4FF]/30 text-[#2980B9] px-4 py-1 rounded font-bold text-sm">
                            {{ doacao.tipo }}
                        </span>
                    {% else %}
                        <span class="bg-[#FFB366]/30 text-[#E67E22] px-4 py-1 rounded font-bold text-sm">
                            {{ doacao.tipo }}
                        </span>
                    {% endif %}

                    <a href="{% url 'selecao_tipo_doacao' %}" class="block text-center w-full bg-[#FFB366] text-white py-4 rounded-lg font-bold text-xl mt-6 hover:bg-orange-400 transition">
                        Ver mais
                    </a>
                </div>
            </article>
            {% empty %}
            <p class="text-gray-500">Nenhuma doação cadastrada ainda.</p>
            {% endfor %}

        </section>
    </div>
</main>
{% endblock %}