{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .fundo-selecao-imagem {
        background-image: url("{% static 'images/moes.jpg' %}");
    }
</style>

<main class="min-h-screen bg-gray-50 flex flex-col items-center">
    
    <section class="w-full relative bg-cover bg-center py-24 text-center fundo-selecao-imagem">
        
        <div class="absolute inset-0 bg-white/35"></div>

        <div class="relative z-10">
            <h1 class="text-5xl font-extrabold text-black-900 tracking-tight">
                O que você gostaria de doar?
            </h1>
            <p class="text-xl text-black-700 mt-2">Escolha uma categoria para continuar</p>
        </div>
    </section>

    <section class="container mx-auto grid grid-cols-2 gap-12 mt-20 px-10">
        
        <article class="bg-white p-12 rounded-2xl shadow-lg border border-gray-100 text-center flex flex-col items-center">
            <h2 class="text-4xl font-bold text-gray-900 mb-6">Doar Alimento</h2>
            <p class="text-gray-600 text-lg max-w-sm mb-12">
                Doe alimentos dentro da validade e não perecíveis
            </p>
            <a href="{% url 'cadastro_alimento' %}" class="mt-auto bg-[#FFB366] px-10 py-3 rounded-md font-semibold text-gray-700 hover:bg-gray-300 transition">
                Selecionar
            </a>
        </article>

        <article class="bg-white p-12 rounded-2xl shadow-lg border border-gray-100 text-center flex flex-col items-center">
            <h2 class="text-4xl font-bold text-gray-900 mb-6">Doar Roupas</h2>
            <p class="text-gray-600 text-lg max-w-sm mb-12">
                Doe roupas em bom estado
            </p>
            <a href="{% url 'cadastro_roupa' %}" class="mt-auto bg-[#79B4FF] px-10 py-3 rounded-md font-semibold text-gray-700 hover:bg-gray-300 transition">
                Selecionar
            </a>
        </article>

    </section>

    <div class="mt-20 mb-12">
        <button class="bg-[#79B4FF] text-white px-10 py-3 rounded-md font-bold hover:bg-blue-500 shadow-md">
            Preciso de Doação
        </button>
    </div>

</main>
{% endblock %}